@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Lexend:wght@400;500;600;700&family=Montserrat:wght@800&family=Schibsted+Grotesk:wght@400;700&family=Wix+Madefor+Display:wght@800&family=Wix+Madefor+Text:wght@400;500;700&family=Work+Sans:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .green_button {
    @apply hover:shadow-lg bg-green-100 px-[24px] py-[12px] rounded-[32px] text-green-700 font-lexend font-semibold;
  }
  .box {
    @apply absolute top-[562px] right-[330px];
  }
  .inner {
    @apply w-[330px] h-[105px] bg-white rounded-3xl flex flex-row pt-[5px] pl-[24px];
  }
  .avatar {
    @apply border-2 border-white object-contain;
  }
  .text_block {
    @apply flex flex-col justify-center ml-[15px];
  }
  .header {
    @apply font-lexend font-semibold text-[16px];
  }
  .body {
    @apply font-lexend font-normal text-[12px] text-[#68799F];
  }
}

html {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 7px;
  z-index: -1;
}

html::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #25ad80;
}

.my-scrollbar::-webkit-scrollbar {
  height: 14px;
}

.my-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #25ad80;
}

.scroll-ul::-webkit-scrollbar {
  width: 7px;
  z-index: -1;
}

.scroll-ul::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #25ad80;
}

.no-scroll::-webkit-scrollbar {
  width: 0px;
}

.account-scroll::-webkit-scrollbar {
  height: 10px;
}

.account-scroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #25ad80;
}

.image-scroll::-webkit-scrollbar {
  height: 10px;
}

.image-scroll::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #25ad80;
}
